:root {
	--addition: #bfb;
	--subtraction: #fbb;
	--multiplication: #bbf;
	--division: #fdb;
}
html {
	background: no-repeat fixed linear-gradient(#001830, #0af);
	font-family: 'Ubuntu Mono', monospace;
	color: white;
	text-shadow: black 0px 2px 5px;
}
body {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 15px auto;
	max-width: 750px;
	height: 100vh;
}
input {
	margin: 0;
	padding: 0;
	width: 100%;

	font-family: inherit;
	text-align: center;

	background-color: #0004;
	color: #fffb;
	border: none;
	border-radius: 5px;
	box-shadow: 0px 0px 30px transparent;
	
	transition-property: background-color, color, box-shadow;
	transition-duration: 100ms;
}
input:hover {
	background-color: #0008;
	color: white;
}
ul {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
	flex-flow: wrap;
	justify-content: center;
}
li {
	display: flex;
	justify-content: center;
	align-items: center;

	margin: 3px;
	width: 175px;
	height: 60px;

	font-size: 32px;
	text-align: center;

	background-color: #0004;
	color: white;
	border-radius: 5px;
}
p {
	margin: 10px;
	text-align: center;
	font-family: 'Patua One', cursive;
	font-size: 24px;
}
div#input {
	max-width: 250px;
}
div#operations {
	display: flex;
	gap: 10px;
	margin-top: 10px;
}
input[type=text] {
	font-size: 100px;
}
input[type=text]:focus {
	background-color: #000b;
	color: white;
	box-shadow: 0 0px 50px #fff2;
}
input[type=text]::placeholder { color: #fff1; }
input[type=checkbox] {
	appearance: none;
	display: block;
	height: 40px;
	font-size: 24px;
	cursor: pointer;
}
input[type=checkbox]::after {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
input[type=checkbox]:checked { color: black; }
input#addition:checked { background-color: var(--addition); }
input#subtraction:checked { background-color: var(--subtraction); }
input#multiplication:checked { background-color: var(--multiplication); }
input#division:checked { background-color: var(--division); }
input#addition::after { content: "+"; }
input#subtraction::after { content: "-"; }
input#multiplication::after { content: "×"; }
input#division::after { content: "÷"; }
.operator {
	font-family: monospace;
	font-weight: bold;
}
